$color-cream: #f5f5dc;
$color-coffee: #6f4e37;
$color-dark: #000000;
$color-cream-white: #f2e7d9;

body {
  background: var(--main-bg-color);
  min-height: 100vh;
  background-image: linear-gradient(62deg, $color-cream 13%, #ffffff80 4%),
                    linear-gradient(44deg, $color-coffee 39%, rgba(242, 242, 242, 0.5) 18%),
                    linear-gradient(118deg, $color-cream 40%, rgba(247, 247, 247, 0.5) 54%),
                    linear-gradient(58deg, $color-coffee 83%, rgba(249, 249, 249, 0.5) 23%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: block;
  justify-content: space-between;
  min-height: 100vh;
  width: 90%;
  margin: 30px auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #fff;
  border-radius: 10px;
  width: 90%;
  margin: 30px auto;
  padding:15px;

  h2, h3 {
    margin: 5px;
    text-align: center;
    font-size: 2rem;;
  }
}


.content-container h2, h3{
  margin: 5px;
  text-align: center;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  max-width: 70%;
  margin: 20px 0;
  line-height: 1.5;
  
  @media (min-width: 1024px) {
    max-width: 50%;
  }
}

.content-container em {
  font-style: italic;
  color: #666;
  border-left: 3px solid #ccc;
  padding-left: 10px;
  display: block;
  margin: 10px 0;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

a:hover {
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.grid-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0.5rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  cursor: pointer;

}

.grid-item-x {
  flex: 0 0 100%;
  margin: 0.5rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;

  .img-container-x img {
    display: block;
    width: 100%;
    height: auto;
  }
}


.img-container {
  overflow: hidden;
  position: relative;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform .3s ease-in-out;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease;
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-item:hover .caption {
  opacity: 1;
}

.grid-item:hover img {
  filter: sepia(90%);.img-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .1s ease-in-out;
  }
  
  .grid-item:hover img {
    transform: scale(1.3);
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: object-position 0.05s ease-in-out, transform .05s ease-in-out;
  }
}

.img-container:hover img {
  transform: scale(1.3);
}

.grid-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: object-position 0.3s ease-in-out, transform .3s ease-in-out;
}

.grid-item:hover img {
  object-position: top;
  transform: scale(1.3);
}

.grid-item h2 {
  margin-top: 20px;
}

.application-button {
  background-color: $color-coffee;
  color: $color-cream-white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px auto;
}

.application-button:hover {
  background-color: darken($color-coffee, 10%);
}

.application-button-disabled {
  cursor: default;
  background-color: rgb(201, 201, 201);
  color: rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

.grid-item-x {
  flex: 0 0 100%;
  margin: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 

  .img-container-x img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  
  h2, p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin: 10px auto;
  }
}

.logo-img {
  width: 90%;
  height: auto;
}

.responsive-img {
  width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  .grid-item {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }

  .grid-item-x .img-container-x img {
    width: 50%;
  }
  
  .grid-item-x h2, .grid-item-x p {
    width: 50%;
  }

  .logo-img {
    width: 70%;
  }

  .responsive-img {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .grid-item {
    flex: 0 0 calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);

  }

  .logo-img {
    display: none;
  }

  .responsive-img {
      width: 50%;
  }
}