.footer,
.footer-links,
.social-links,
.copyright {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.footer {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px; 
}

.footer-links,
.social-links,
.copyright {
  gap: 20px;
  margin-bottom: 10px;
}

.footer-links a,
.social-links a {
  color: $color-dark;
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    color: $color-cream-white;
  }

  img {
    width: 28px;
    height: 28px;

    &:hover {
      opacity: 0.70;
      transform: scale(1.3);
      transition: transform 0.4s ease;
    }
  }
}

.copyright {
  align-items: center;
  margin-bottom: 5px;
  order: 2;
  width: 100%;

  p {
    color: $color-dark;
  }
}