.header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #fff;
  margin: 30px auto;
  width: 90%;
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 0 10px;
}

.nav-links li {
  padding: 0 10px;
}

.nav-links a:hover {
  color: #888;
}

.nav-links .active-link {
  font-weight: bold;
}

@media (max-width: 1119px) {
  .nav-links li {
    margin: 1rem 0;
  }
}


