.admin-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;

  .application-admin-wrapper{

    button{
      margin: 5px;
      padding: 5px;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
}

.application-admin-display{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;

  .admin-publish-buttons{
    display: flex;
    justify-content: end;
    
    .button-pub{
      background-color:rgb(255, 141, 141);
      cursor: pointer;
      
    }
    .button-unpub{
      background-color:  rgb(112, 255, 112);
      cursor: pointer;
    }
  }

}