.application-admin-display{
  border: 1px solid black;
  margin: 5px;
  padding: 5px;

  .button-pub{
    background-color: rgb(112, 255, 112);
  }
  .button-unpub{
    background-color: rgb(255, 141, 141);
  }
}