.application-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;

  .step1, .step2, .step3{
    margin: 10px;

    h2, h3{
      margin: 5px;
      text-align: center;
    }
  }

  form{
    display: flex;
    flex-direction: column;

    .form-control{
      margin: 3px;
      height: 30px;
      width: 100%;
      display: flex;

      label{
        padding: 5px;
        height: 30px;
        width: 25%;
        text-align: end;
      }
      input, select{
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        height: 30px;
        width: 50%;
        display: flex;
        align-items: center;
        padding: 5px;
        text-align: end;
      }

    }

    .button-control{
      display: flex;
      justify-content: center;
      margin-top: 15px;

      button{
        border: 1px solid black;
        height: 40px;
        padding: 10px;
        
      }
    }
  }
}