/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  background: var(--main-bg-color);
  min-height: 100vh;
  background-image: linear-gradient(62deg, #f5f5dc 13%, rgba(255, 255, 255, 0.5019607843) 4%), linear-gradient(44deg, #6f4e37 39%, rgba(242, 242, 242, 0.5) 18%), linear-gradient(118deg, #f5f5dc 40%, rgba(247, 247, 247, 0.5) 54%), linear-gradient(58deg, #6f4e37 83%, rgba(249, 249, 249, 0.5) 23%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  display: block;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Dosis", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

a:hover {
  cursor: pointer;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.grid-item {
  flex: 0 0 100%;
  margin: 0.5rem;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease;
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-item:hover .caption {
  opacity: 1;
}

.grid-item:hover img {
  filter: sepia(90%);
}
.grid-item:hover img .img-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.1s ease-in-out;
}
.grid-item:hover img .grid-item:hover img {
  transform: scale(1.3);
}
.grid-item:hover img .grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: object-position 0.05s ease-in-out, transform 0.05s ease-in-out;
}

.img-container:hover img {
  transform: scale(1.3);
}

.grid-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: object-position 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.grid-item:hover img {
  object-position: top;
  transform: scale(1.3);
}

.grid-item h2 {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .grid-item {
    flex: 0 0 calc(50% - 1rem);
  }
}
@media (min-width: 1024px) {
  .grid-item {
    flex: 0 0 calc(33.33% - 1rem);
  }
}
.cup {
  height: 50px;
  width: 75px;
  border-radius: 0 0 37.5px 37.5px;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 4.25px -1.75px 0 0 rgba(51, 51, 51, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(51, 51, 51, 0.2);
  user-select: none;
  cursor: default;
  margin-right: 20px;
}

.cup::before,
.cup::after {
  content: "";
  position: absolute;
}

.cup::before {
  width: 75px;
  height: 12.5px;
  border-radius: 50%;
  top: -6px;
  left: 0;
  box-shadow: inset 0.75px 0 0 0 rgba(51, 51, 51, 0.2), inset 0 0 0 1px #e6e6e6, inset 0 3.5px 0 0 #d6d6d6;
  z-index: 1;
}

.cup::after {
  width: 25px;
  height: 25px;
  border-radius: 0 50% 50%;
  right: -23.75px;
  top: 0;
  border: 6.25px solid #e6e6e6;
  box-shadow: inset 1.75px -1.75px 0 0 rgba(51, 51, 51, 0.2), 0.75px -0.75px 0 0 rgba(51, 51, 51, 0.2);
  z-index: 1;
}

.cup .coffee {
  position: absolute;
  width: 74.5px;
  height: 11.5px;
  top: -5.5px;
  left: 0;
  border-radius: 50%;
  background: #532d09;
}

.cup .coffee::before,
.cup .coffee::after {
  content: "";
  position: absolute;
  display: block;
  background: rgba(51, 51, 51, 0.2);
  border-radius: 25px 0;
  width: 25px;
  height: 7.5px;
  z-index: 2;
  opacity: 0;
}

.cup .coffee::before {
  animation: smo 2s infinite;
}

.cup .coffee::after {
  animation: smo2 3s infinite;
}

@keyframes smo {
  0% {
    opacity: 0;
    transform: rotateZ(-45deg);
    top: -5px;
    left: 2.5px;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(-45deg);
    opacity: 0;
    top: -25px;
    left: 25px;
  }
}
@keyframes smo2 {
  0% {
    opacity: 0;
    transform: rotateZ(-45deg);
    top: -5px;
    left: 27.5px;
  }
  65% {
    opacity: 1;
  }
  100% {
    transform: rotateZ(-45deg);
    opacity: 0;
    top: -25px;
    left: 50px;
  }
}
@media (max-width: 1119px) {
  .cup {
    display: none;
  }
}
.header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #fff;
  margin: 30px auto;
  width: 90%;
  border-radius: 10px;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 0 10px;
}

.nav-links li {
  padding: 0 10px;
}

.nav-links a:hover {
  color: #888;
}

.nav-links .active-link {
  font-weight: bold;
}

@media (max-width: 1119px) {
  .nav-links li {
    margin: 1rem 0;
  }
}
.application-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.application-wrapper .step0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.application-wrapper .step0 h2 {
  margin: 10px;
}
.application-wrapper .step0 div {
  padding: 3px;
}
.application-wrapper .step1, .application-wrapper .step2, .application-wrapper .step3 {
  margin: 10px;
}
.application-wrapper .step1 h2, .application-wrapper .step1 h3, .application-wrapper .step2 h2, .application-wrapper .step2 h3, .application-wrapper .step3 h2, .application-wrapper .step3 h3 {
  margin: 5px;
  text-align: center;
}
.application-wrapper .step1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.application-wrapper .step1 span {
  text-align: center;
}
.application-wrapper form {
  display: flex;
  flex-direction: column;
}
.application-wrapper form .form-control {
  margin: 3px;
  height: 30px;
  width: 100%;
  display: flex;
}
.application-wrapper form .form-control label {
  padding: 5px;
  height: 30px;
  width: 25%;
  text-align: end;
}
.application-wrapper form .form-control input, .application-wrapper form .form-control select {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: end;
}
.application-wrapper .button-control {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.application-wrapper .button-control button {
  border: 1px solid black;
  height: 40px;
  padding: 10px;
  background-color: rgb(167, 225, 243);
  cursor: pointer;
}
.application-wrapper .button-control button:hover {
  background-color: rgb(124, 217, 245);
}
.application-wrapper .button-control .false {
  border: 1px solid red;
}
.application-wrapper .button-control .true {
  border: 1px solid green;
}

.admin-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.admin-wrapper .application-admin-wrapper button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.application-admin-display {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.application-admin-display .admin-publish-buttons {
  display: flex;
  justify-content: end;
}
.application-admin-display .admin-publish-buttons .button-pub {
  background-color: rgb(255, 141, 141);
  cursor: pointer;
}
.application-admin-display .admin-publish-buttons .button-unpub {
  background-color: rgb(112, 255, 112);
  cursor: pointer;
}

.view-all-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.view-all-wrapper .view-all-wrapper button {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.view-all-display {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

#menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 999;
  margin: 25px;
}

#menu-icon:focus {
  outline: none;
}

#menu-icon span {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
  transform-origin: 1px;
  margin: 0.1rem 0;
}

#menu-icon.open span:first-child {
  transform: rotate(45deg) translateY(-5px);
}

#menu-icon.open span:nth-child(2) {
  opacity: 0;
}

#menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(5px);
}

@media (max-width: 1119px) {
  #menu-icon {
    display: flex;
  }
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  padding: 0 15px;
}

@media (max-width: 1119px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #fff;
    align-items: center;
    justify-content: center;
  }
  .nav-links.open {
    display: flex;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px;
}

.footer-links,
.social-links,
.copyright {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
}

.footer-links a,
.social-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}
.footer-links a:hover,
.social-links a:hover {
  color: #f2e7d9;
}
.footer-links a img,
.social-links a img {
  width: 28px;
  height: 28px;
}
.footer-links a img:hover,
.social-links a img:hover {
  opacity: 0.7;
  transform: scale(1.3);
  transition: transform 0.4s ease;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
  order: 2;
}
.copyright p {
  color: #000000;
}