.application-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.application-wrapper .step0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.application-wrapper .step0 h2 {
  margin: 10px;
}
.application-wrapper .step0 div {
  padding: 3px;
}
.application-wrapper .step0 .inline-button {
  border: 1px solid black;
  height: 20px;
  padding: 5px;
  background-color: rgb(167, 225, 243);
  cursor: pointer;
}
.application-wrapper .step1, .application-wrapper .step2, .application-wrapper .step3 {
  margin: 10px;
}
.application-wrapper .step1 h2, .application-wrapper .step1 h3, .application-wrapper .step2 h2, .application-wrapper .step2 h3, .application-wrapper .step3 h2, .application-wrapper .step3 h3 {
  margin: 5px;
  text-align: center;
}
.application-wrapper .step1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.application-wrapper .step1 span {
  text-align: center;
}
.application-wrapper form {
  display: flex;
  flex-direction: column;
}
.application-wrapper form .form-control {
  margin: 3px;
  height: 30px;
  width: 100%;
  display: flex;
}
.application-wrapper form .form-control label {
  padding: 5px;
  height: 30px;
  width: 25%;
  text-align: end;
}
.application-wrapper form .form-control input, .application-wrapper form .form-control select {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: end;
}
.application-wrapper .button-control {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.application-wrapper .button-control button {
  border: 1px solid black;
  height: 40px;
  padding: 10px;
  background-color: rgb(167, 225, 243);
  cursor: pointer;
}
.application-wrapper .button-control button:hover {
  background-color: rgb(124, 217, 245);
}
.application-wrapper .button-control .false {
  border: 1px solid red;
}
.application-wrapper .button-control .true {
  border: 1px solid green;
}