.application-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #fff;
  border-radius: 10px;
  width: 90%;
  margin: 30px auto;
}

.step0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.step0 h2 {
  margin: 10px;
}
.step0 div {
  padding: 3px;
}

.step1, .step2, .step3 {
  margin: 10px;
}
.step1 h2, .step1 h3, .step2 h2, .step2 h3, .step3 h2, .step3 h3 {
  margin: 5px;
  text-align: center;
}

.step1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.step1 span {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
form .form-control {
  margin: 3px;
  height: 30px;
  width: 100%;
  display: flex;
}
form .form-control label {
  padding: 5px;
  height: 30px;
  width: 25%;
  text-align: end;
}
form .form-control input, form .form-control select {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: end;
}

.button-control {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.button-control .false {
  border: 1px solid red;
}
.button-control .true {
  border: 1px solid green;
}