@media (min-width: 1024px) {
  .content section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .content section:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .content section .text {
    width: 40%;
    margin: auto;
  }
  .content section p,
  .content section li {
    width: 70%;
    margin: 1rem;
    line-height: 1.5rem;
  }
  .content section h2 {
    font-size: 3rem;
    width: 70%;
  }
  .content section img {
    width: 50%;
    margin-top: 0;
  }
  input,
  .hamburger {
    display: none;
  }
  .header-left {
    width: 25%;
  }
  .header-right {
    width: 75%;
  }
  .header-right .menu {
    width: 100%;
    justify-content: space-evenly;
  }
}
@media (max-width: 1023px) {
  body {
    font: 1rem "Miltonian Tattoo", sans-serif;
    display: flex;
    position: relative;
  }
  .content {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: justify;
  }
  .content .text {
    margin: auto;
    width: 90%;
    align-items: center;
  }
  .content .text p {
    font-family: sans-serif;
    margin-top: 1rem;
    line-height: 1.5rem;
    align-items: center;
  }
  .content .text li {
    font-family: sans-serif;
    margin: 1rem;
    align-items: center;
  }
  .content .text h2 {
    font: 2rem "Miltonian Tattoo", sans-serif;
    text-align: center;
    margin-top: 2rem;
  }
  .content section img {
    height: auto;
    margin-top: 2rem;
    align-items: center;
  }
  main {
    position: absolute;
    top: 80px;
    margin-top: 30px;
  }
  header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    height: 80px;
    z-index: 9;
  }
  .header-left {
    background-color: rgb(168, 120, 168);
    width: 90%;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  .header-left h1 {
    font-size: xx-large;
    font-family: "Miltonian Tattoo", Times, serif;
  }
  .header-left h1 a {
    cursor: pointer;
    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .header-left h1 a:hover,
  .header-left h1 a:focus {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  }
  .header-right {
    background-color: rgb(150, 61, 150);
    width: 10%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .header-right .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  input {
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1;
  }
  input:checked + .menu button span {
    position: absolute;
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  input:checked + .menu button span:nth-child(2) {
    opacity: 0;
  }
  input:checked + .menu button span:nth-child(1) {
    rotate: 45deg;
  }
  input:checked + .menu button span:nth-child(3) {
    rotate: -45deg;
  }
  .hamburger {
    display: block;
    width: 35px;
    height: 35px;
  }
  .hamburger span {
    display: block;
    width: 35px;
    height: 6px;
    background-color: white;
    margin-bottom: 3px;
  }
}